<head>
	<title>ODAW Test</title>
</head>

<center><h1>ODAW Test</h1></center>
	<hr>
	<div>
		<div align="left">[<a href="login.php">Login</a>]</div>
		<center>
			[<a href="form_user.php">Cadastrar usuário</a>]
			[<a href="index.php">Listar clientes</a>]
		</center>
		<div align="right">[<a href="logout.php">Sair</a>]</div>
	</div>
<hr><br>
